[submodule "fzf_vim"]
	path = fzf_vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "NerdTree"]
	path = NerdTree
	url = git@github.com:preservim/nerdtree.git
[submodule "fzf"]
	path = fzf
	url = git@github.com:junegunn/fzf.git
[submodule "ale"]
	path = ale
	url = git@github.com:dense-analysis/ale.git
[submodule "stheader"]
	path = stheader
	url = git@github.com:42Paris/42header.git
